.content-section {
  width: 65%;
  flex-direction: column;
}

.add-appointment-content-section {
  width: 30%;
  flex-direction: column;
}

.profile-section {
  width: 90%;
}

.open-appointments-section {
  padding-bottom: 25px;
}

.appointments__section-heading {
  border-bottom: #333 solid 2px;
}

.appointments__section-heading h1 {
  color: #333;
}

.appointments__section-subHeading {
  color: #333;
  font-size: 1.5rem;
}

.appointments__month-heading {
  border-bottom: #e14658 solid 1px;
}

.appointments__dayOfWeek {
  justify-content: space-between;
  text-transform: uppercase;
}

.appointments__day {
  font-size: 2rem;
}

.appointments__dayRow {
  border-top: #b0b0b0 solid 1px;
}

/* Remove curved corners for accordion */
.accordion .accordion-item,
.accordion .accordion-header,
.accordion .accordion-body,
.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0;
}

.add-appointment {
  width: 90%;
}

.days {
  width: 62px;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-menu {
  width: 100%;
  max-height: 150px;
}
