/* Navbar */

header {
  padding: 0;
}

nav {
  background-color: #243665;
}

nav i {
  color: #f5f5f5;
}

nav i:hover {
  color: #8bd8bd;
}

.navbar-brand {
  --bs-navbar-brand-padding-y: 0px;
}

.navbar-nav .highlight-link:hover {
  background-color: #8bd8bd;
}

.navbar {
  --bs-navbar-padding-y: 0;
}

.navbar-collapse {
  flex-shrink: 0;
}

.nav-link {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5f5f5;
}

.nav-text {
  font-size: 1.25rem;
  font-weight: 600;
}

.active {
  background-color: #e14658;
}

.navbar-nav .nav-link.active {
  color: #f5f5f5;
}

.navbar-nav .nav-link.active:hover {
  color: #000;
}

/* Body */

body {
  background-color: #f5f5f5;
}

/* Photo Section */

.photo-section {
  background-color: #243665;
}

.photo-section .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-section .profile-photo {
  width: 13rem;
  border: 5px solid #fa7811;
  border-radius: 100%;
}

.photo-section .profile-name {
  font-size: 2rem;
  font-weight: 600;
  color: #f5f5f5;
}

.photo-section .city-name {
  font-size: 1rem;
  font-weight: 600;
  color: #f5f5f5;
}

.photo-section .fa-star.filled {
  color: #ffa500;
}

.photo-section .fa-star.unfilled {
  color: #b0b0b0;
}

.photo-section i {
  color: #f5f5f5;
}

.photo-section i:hover {
  color: #8bd8bd;
}

/* Footer */

footer i {
  color: #f5f5f5;
}

nav i:hover {
  color: #8bd8bd;
}

.footer-text {
  color: #f5f5f5;
}
