/* Messages Header Section */

.messages__header-section {
  background-color: #243665;
}

.messages__header-section .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages__header-section .messages__header {
  font-size: 2rem;
  font-weight: 600;
  color: #f5f5f5;
}

/* Messages Content Section */

.messages {
  display: flex;
  flex-direction: column;
  height: 430px;
  overflow-y: scroll;
}

.message-left,
.message-right {
  display: flex;
  flex-shrink: 0;
}

.message-left {
  margin-right: auto;
}

.message-right {
  flex-direction: row-reverse;
  margin-left: auto;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: #dee2e6 1px solid;
}

.border-bottom {
  border-bottom: #dee2e6 1px solid !important;
}

.border-bottom-heading {
  border-bottom: #243665 1px solid !important;
}

.form-control:focus {
  border-color: var(--bs-border-color);
  box-shadow: none;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-menu {
  width: 100%;
  max-height: 150px;
  overflow-y: scroll;
}

.list-group-item.active {
  background-color: #e14658;
}

.hover-div i {
  color: #e14658;
}

.hover-div i:hover {
  color: #8bd8bd;
}

.deleted {
  color: gray;
}
