/* Photo Section */

.photo-section {
  background-color: #243665;
}

.photo-section .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-section .profile-photo {
  width: 13rem;
  border: 5px solid;
  border-radius: 100%;
}

.photo-section .profile-name {
  font-size: 2rem;
  font-weight: 600;
  color: #f5f5f5;
}

.photo-section .city-name {
  font-size: 1rem;
  font-weight: 600;
  color: #f5f5f5;
}

.photo-section .fa-star.filled {
  color: #ffa500;
}

.photo-section .fa-star.unfilled {
  color: #b0b0b0;
}

.photo-section i {
  color: #f5f5f5;
}

.photo-section i:hover {
  color: #8bd8bd;
}

.mentor-tag {
  background-color: #e14658;
  color: #f5f5f5;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1.25rem;
}

/* Profile Buttons Section */

.profile__buttons-section {
  background-color: #ffffff;
  border-bottom: #b0b0b0 1px solid;
  font-size: 2rem;
}

.profile__buttons-section .container {
  width: 50%;
}

.profile__buttons_links a {
  text-decoration: none;
}

.profile__buttons_links a:link,
.profile__buttons_links a:visited,
.profile__buttons_links a:active {
  color: #243665;
}

.profile__buttons_links a:hover {
  color: #8bd8bd;
}

/* Content Section */

.content-section .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-section {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
}

.profile-wrap {
  height: 110px;
  width: 50rem;
  overflow: hidden;
}

.profile-wrap h3 {
  color: #333;
}

.profile-wrap p {
  color: #5e5e5e;
  font-size: 1rem;
}

.profile-icon {
  height: 110px;
  border-right: #b0b0b0 1px solid;
  color: #e14658;
  font-size: 2.5rem;
}

.open-link {
  display: block;
  color: #b0b0b0;
  font-size: 1.5rem;
}

.expand-btn {
  cursor: pointer;
}

.expand-btn:hover {
  color: #8bd8bd;
}

p.profile-date {
  font-size: 0.85rem;
  color: #b2b9ba;
}

.profile-skill {
  background-color: #e2e2e2;
  border-radius: 50px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 3px;
}

.profile-skill:hover {
  background-color: #8bd8bd;
  color: #000;
  --bs-btn-active-bg: #64bba1;
  --bs-btn-active-border-color: #64bba1;
}

.association-photo {
  width: 60px;
  height: auto;
}

.text-end {
  min-height: 36px;
}

/* Time Selection Modal */

.modal-header {
  border: none;
  color: #f5f5f5;
}

.modal-header-gradient {
  background: linear-gradient(
    to bottom right,
    rgb(36, 54, 101),
    rgb(56, 84, 131)
  );
}

.modal-body {
  color: #333;
  background-color: #f5f5f5;
}

.modal-footer {
  border: top;
}

.schedule-photo {
  height: 60px;
  width: auto;
  box-shadow: none;
}

.schedule-container {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
}

.scheduler-time {
  font-size: 1.75rem;
}

.scheduler-name {
  font-size: 1.5rem;
}

.profile__appointments input[type='checkbox'] {
  opacity: 0;
  width: 0;
  height: 0;
}

.profile__appointments input[type='checkbox']:active ~ label {
  opacity: 1;
}

.profile__appointments input[type='checkbox']:checked ~ label {
  opacity: 1;
  background-color: #8bd8bd;
  color: #000;
}
